<h1>Langton's Ant</h1>

<canvas 
  width="400" 
  height="400" 
  #canvas
></canvas>

<div class="settings">
  <form class="settings-form" (ngSubmit)="onStartPressed()">
    <label>Grid Width</label>
    <input 
      type="number" 
      name="grid_width" 
      [(ngModel)]="gridWidth"
    />
    
    <label>Grid Height</label>
    <input 
      type="number" 
      name="grid_height" 
      [(ngModel)]="gridHeight"
    />

    <label>Pixel per Cell</label>
    <input 
      type="number" 
      name="pixel_per_cell" 
      [(ngModel)]="pixelPerCell"
    />

    <button type="submit" onsubmit="">Start</button>
  </form>

  <button>Toggle Pause</button>
  <button>Reset</button>
</div>
