<h1>Langton's Ant</h1>

<p>Game status: {{ gameStatus }}</p>
<p>Pause after step: {{ pauseAfterStep }}</p>
<p #stepCounterText>Step counter: {{ stepCounter }}</p>

<canvas #canvas></canvas>

<div class="settings">
  <form class="settings-form" (ngSubmit)="onStartPressed()">
    <label>Grid Width</label>
    <input 
      type="number" 
      name="gridWidth" 
      [(ngModel)]="gridWidth"
    />
    
    <label>Grid Height</label>
    <input 
      type="number" 
      name="gridHeight" 
      [(ngModel)]="gridHeight"
    />

    <label>Pixel per Cell</label>
    <input 
      type="number" 
      name="pixelPerCell" 
      [(ngModel)]="pixelPerCell"
    />

    <select name="gridType" [(ngModel)]="gridType">
      <option value="" disabled>Select a grid type</option>
      <option *ngFor="let gridType of gridTypes" [ngValue]="gridType">
        {{ gridType.name }}
      </option>
    </select>

    <button type="submit">Start</button>
  </form>

  <button (click)="onTogglePausePressed()">Toggle Pause</button>
  <button (click)="onResetPressed()">Reset</button>
  <button (click)="onStepPressed()">Step</button>
</div>
